
# Créé par https://www.toptal.com/developers/gitignore/api/netbeans
# Modifier sur https://www.toptal.com/developers/gitignore?templates=netbeans

### NetBeans ###
**/nbproject/privé/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
construire/
nbbuild/
distance/
nbdist/
.nb-gradle/

# Fin de https://www.toptal.com/developers/gitignore/api/netbeans